@model EmployeeApp.ViewModels.AssignShiftEmployeesViewModel

@{
    ViewBag.Title = "AssignEmployeesToShift";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Assign Employees To Shift</h2>

@using (Html.BeginForm("NewWork", "Shifts"))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Shift.Id)
    <div>
        @Model.Shift.DateTime
    </div>
    <div>
        @Model.Shift.Department.Name
    </div>
    <div>
        @Model.Shift.ShiftType.Name
    </div> <hr />

    <div class="form-group">
        @Html.LabelFor(m => m.EmployeeId)
        @Html.DropDownListFor(m => m.EmployeeId, new SelectList(Model.Employees, "Id", "FullName"), "Select", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.EmployeeId)
    </div>

    <button class="btn btn-primary">Submit</button>
    <ul>
        @foreach (var employee in Model.WorkingEmployees)
        {
            <li>
                @employee.FullName
                <a href="#" class="js-remove-employee" data-employee-id="@employee.Id">Remove</a>
            </li>

        }
    </ul>
}

@section scripts{
    <script>
        $(document).ready(function () {
            $(".js-remove-employee").click(function (e) {
                var link = $(e.target);
                if (confirm("Are you sure y want to delete this employee?")) {
                    $.ajax({
                        url: "/api/Shifts/" + link.attr("data-employee-id"),
                        method: "DELETE"
                    })
                        .done(function () {
                            link.parents("li").fadeOut(function () {
                                $(this).remove();
                            });
                        })
                        .fail(function () {
                            alert("Something Failed")
                        });
                }
            });
        });
    </script>

}