@model EmployeeApp.ViewModels.ShiftFormViewModel
@{
    ViewBag.Title = "ShiftForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ShiftForm</h2>
@using (Html.BeginForm("ShiftForm", "Shifts"))
{
    {
        @Html.HiddenFor(m => m.Shift.Id)
        @Html.AntiForgeryToken()
        <p class="alert alert-info">All Fields are <strong>Required</strong></p>
        <div class="form-group">
            @Html.LabelFor(m => m.Date)
            @Html.TextBoxFor(m => m.Date, new { @class = "form-control", placeholder = "π.χ 3 Νοε 2019" })
            @Html.ValidationMessageFor(m => m.Date)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Time)
            @Html.TextBoxFor(m => m.Time, new { @class = "form-control", placeholder = "π.χ 22:00" })
            @Html.ValidationMessageFor(m => m.Time)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Shift.DayShift)
            @Html.EnumDropDownListFor(m => m.Shift.DayShift, "--Select--", new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Shift.DayShift)
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    }
    @section scripts
{
        @Scripts.Render("~/bundles/jqueryval")  @*client-side validation*@
    }
}